.blickr {
    .element .addons {
        position: relative;

        .addon {
            position: absolute;
            left: 100%;
            margin-left: 10px;
        }

        .element-remover {
            @include transition(all, 250ms);

            cursor: pointer;
            padding: 4px 6px;
            border-radius: 40px;
            color: $palette_bw_d;
            border: 2px solid $palette_bw_d;

            &:before {
                @include fa-icon();

                content: $fa-var-close;
            }

            &:hover {
                border-color: $palette_dark_red;
                background-color: $palette_dark_red;
                color: $palette_bw_f;
            }
        }
    }

    &[data-element-count="1"] .addons .element-remover {
        display: none;
    }
}