.blickr {
    .element.section {
        textarea {
            resize: none;
            overflow: hidden;
            min-height: 2em;
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
        }
    }
}